{{> header}}
			<main class="content">
				<div class="container-fluid p-0">
					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h2><strong>DASHBOARD</strong></h2>
						</div>
{{!-----------------------------------ADD PLACE-----------------------------------------------------}}

						<div class="col-auto ms-auto text-end mt-n1">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addplace">ADD PLACE</button>

							<div class="modal fade" id="addplace" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="form-group p-2 pd-1 text-center">
										<label for="place" class="text-center"><strong>PLACE DETAILS</strong></label>
											<input type="text" 
											name="name" 
											id="name" 
											placeholder="Place Name"
											class="form-control bg-light"
											required
											>
											<input type="number" 
											name="capacity" 
											id="capacity" 
											placeholder="Maximum Capacity"
											class="form-control bg-light my-1"
											required
											>
											<input type="text" 
											name="pincode" 
											id="pincode" 
											placeholder="Pin Code"
											class="form-control bg-light my-1"
											required
											>
											<small class="text-danger mx-2">
												<strong id="pinerr"></strong>
											</small>
											<div class="mt-1">
												<button id="placeform" onclick="addPlace()" class="btn btn-primary">ADD</button>
											</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>

{{!-- -------------------------PLACES DISPLAY------------------------------------------------------- --}}
					<div class="row">
						<div class="col-xl-12 col-xxl-5 d-flex">
							<div class="w-100">
								<div class="row">
									{{#each places}}
										<div class="card col-sm-2 col-xs-1 m-1 place">
											<div class="card-body" >
											<div id="{{this._id}}">
												<h3 class="mt-1 mb-3 text-center"><strong>{{this.name}}</strong></h3>
												<div class="mb-1 text-center display-3 font-weight-bold">
													<strong class="text-{{colors this.count this.capacity}}">{{this.count}}</strong>
												</div>
												{{#if this.open}}
													<div class="progress">
														<div 
														class="progress-bar progress-bar-striped bg-{{colors this.count this.capacity}}"
														role="progressbar" 
														></div>
													</div>
												{{else}}
													<div class="text-danger" align="center"><strong>CLOSED</strong></div>
												{{/if}}
												<div class="text-right mt-4 text-center">
													<button
													onClick="deleteplace('{{this._id}}')"
													class="btn btn-sm btn-danger ">DELETE</button>
												</div>
											</div>
											</div>
										</div>
									{{/each}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
{{>footer}}