{{>header}}


			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Settings</h1>

					<div class="row">
						<div class="col-md-3 col-xl-2">

							<div class="card">
								<div class="list-group list-group-flush" role="tablist">
									<a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#account" role="tab">Account</a>
									<a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#password" role="tab">Password</a>									
									<a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#scanners" role="tab">Scanners</a>									
									<a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#places" role="tab">Places</a>									
									<button class="list-group-item list-group-item-action" onclick="deleteAccount('{{admin._id}}')" role="tab">Delete account</button>
								</div>
							</div>
						</div>

						<div class="col-md-9 col-xl-10">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="account" role="tabpanel">
								{{!-- USER INFO --}}
									<div class="card">
										<div class="card-body">
											<div>
												<h3 class="mb-3">Account Info</h3>
												<div class="row">
											

													<div class="col-md-8">
														<div class="mb-3">
															<label class="form-label" for="inputUsername">Username</label>
															<input type="text" class="form-control" id="username" placeholder="Username"
															value="{{admin.name}}"
															>
														</div>
														<div class="mb-3">
															<label class="form-label" for="inputUsername">Email</label>
															<input type="email" class="form-control" id="email"
															placeholder="Email"
															value="{{admin.email}}"
															>
														</div>
														<div class="alert alert-danger mt-1	" role="alert" style="padding-left: 4px;" id="mailerr"></div>
														<button type="button" onclick="updateInfo('{{admin._id}}','{{admin.email}}','{{admin.name}}')" class="btn btn-primary">Save changes</button>
													</div>
													<div class="col-md-4">
														<div class="text-center">
															<img src="https://asapp2.herokuapp.com/admin/{{admin._id}}/avatar" class="rounded-circle img-responsive mt-2" width="128" height="128" />
															{{!-- <img alt="Charles Hall" src="http://localhost:4444/admin/{{admin._id}}/avatar" class="rounded-circle img-responsive mt-2" width="128" height="128" /> --}}
															<div class="mt-2">
																<form
																action="/admin/me/avatar"
																method="POST"
															 	enctype="multipart/form-data">
																	<input type="file" name="avatar" onchange="func()" id="ava" style="width:98px">
																	<button class="btn btn-primary"  id="btnone" type="submit" disabled>
																		UPLOAD
																	</button>
																</form>
															</div>
														</div>
													</div>
												</div>
												</div>

										</div>
									</div>
								</div>
								{{!-- password --}}
								<div class="tab-pane fade" id="password" role="tabpanel">
									<div class="card">
										<div class="card-body">
											<h3 class="">Password</h3>

											<div>
												<div class="mb-3">
													<label class="form-label" for="inputPasswordCurrent">Current password</label>
													<input type="password" class="form-control" id="old">
												</div>
												<div class="mb-3">
													<label class="form-label" for="inputPasswordNew">New password</label>
													<input type="password" class="form-control" id="new1">
												</div>
												<div class="mb-3">
													<label class="form-label" for="inputPasswordNew2">Verify password</label>
													<input type="password" class="form-control" id="new2">
												</div>
												<div class="mb-2" id="passerr" role="alert" style="padding-left: 4px;">
												</div>
												<button 
												type="button"
												onclick="updatepass('{{admin._id}}')" class="btn btn-primary">Save changes</button>
											</div>

										</div>
									</div>
								</div>	

								{{!-- SCANNERS --}}
								<div class="tab-pane fade" id="scanners" role="tabpanel">
									<div class="card">
										<div class="card-body">
											<h3>Scanner info</h5>

											<div>
												<div class="input-group mb-3 numfield">
													<input type="text" class="form-control" placeholder="1234...." id="number">
													<div class="input-group-append">
														<button class="btn btn-outline-primary" onclick="addNumber()" type="button" id="addnumber">Add</button>
													</div>
												</div>
												<div class="alert alert-danger mt-1" role="alert" style="padding-left: 4px;" id="numerr"></div>
												
												<ul class="list-group list-group-flush">
													{{#each admin.scanners}}
													<li class="list-group-item">
														<div class="row">
														<div class="col-6">{{this.number}}</div>
														<div class="col-1 ml-auto mr-5">
															<button onclick="deleteNumber('{{this._id}}')" class="btn-sm btn btn-outline-danger fly">DELETE</button>
														</div>
														</div>
													</li>
													{{/each}}
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="tab-pane fade" id="places" role="tabpanel">
									<div class="card">
										<div class="card-body">
											<h3>Places info</h5>

											<div>	
												<ul class="list-group list-group-flush">
														<li class="list-group-item">
														<div class="row">
														<div class="col-3"><strong>Place</strong></div>
														<div class="col-2"><strong>Pincode</strong></div>
														<div class="col-2"><strong>head count</strong></div>
														<div class="col-3"><strong>Capacity</strong></div>
														</div>
													</li>
													{{#each admin.places}}
													<li class="list-group-item">
														<div class="row">
														<div class="col-3">
															{{#if this.open}}
															<span class="online"></span>
															{{else}}
															<span class="offline"></span>
															{{/if}}
														{{this.name}}
														</div>
														<div class="col-2">{{this.pincode}}</div>
														<div class="col-2">{{this.count}}</div>
														<div class="col-1">{{this.capacity}}</div>
														<div class="col-3 ml-auto">
															<button onclick="" class="btn-sm btn btn-outline-info fly"
															data-bs-toggle="modal"
															data-bs-target="#messagemodal"
															 >MESSAGE</button>
															<div class="modal fade" id="messagemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
																<div class="modal-dialog modal-dialog-centered">
																<div class="modal-content">
																<div class="modal-header">
																<h5 class="modal-title" id="exampleModalLabel">ADD MESSAGE</h5>
																<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																</div>
																<div class="modal-body">
																<div class="mb-3">
																<label for="message-text" class="col-form-label">Message:</label>
																<textarea class="form-control" id="message-text"></textarea>
																</div>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
																	<button type="button" onclick="addMessage('{{this._id}}')" class="btn btn-primary">ADD</button>
																	</div>
																	</div>
																</div>
															</div>

															{{#if this.open}}
																<button onclick="changePlaceStatus('{{this._id}}','{{this.open}}')" class="btn-sm btn btn-outline-warning fly">CLOSE</button>
															{{else}}
																<button onclick="changePlaceStatus('{{this._id}}','{{this.open}}')" class="btn-sm btn btn-outline-success fly" style="width: 58px;">OPEN</button>
															{{/if}}
															<button onclick="deleteplace('{{this._id}}')" class="btn-sm btn btn-outline-danger fly">DELETE</button>
														</div>
														</div>
													</li>
													{{/each}}
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{{>footer}}			