{{>userheader}}

			<main class="content">
				<div class="container-fluid p-0">

					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h3>Hi <strong>{{user.name}}</strong></h3>
						</div>
{{!-----------------------------------VIEW QRCODE-----------------------------------------------------}}
					{{#if qrcode}}
						<div class="col-auto ms-auto text-end mt-n1">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addplace">VIEW OTP</button>
						</div>
						<div class="modal fade" id="addplace" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<h3 class="mt-3 text-center">
										<div class="badge badge-info">{{placename}}</div>
									</h3>
									<div class="text-center mb-3">
									<img src="{{qrcode}}" alt="" style="width:290px; height:290px">
									</div>	
									
								</div>
							</div>
						</div>

					</div>
					{{/if}}
{{!-- -------------------------PLACES DISPLAY------------------------------------------------------- --}}
					<div class="row">
						<div class="col-xl-12 col-xxl-5 d-flex">
							<div class="w-100">
								<div class="row">
									{{#each places}}
										<div class="card col-sm-2 m-1 place">
											<div class="card-body" >
											<div id="{{this._id}}">
												<h3 class="mt-1 mb-3 text-center"><strong>{{this.name}}</strong></h3>
												<div class="mb-1 text-center display-3 font-weight-bold">
													<strong class="text-{{colors this.count this.capacity}}">{{this.count}}</strong>
												</div>
													<div class="progress">
														<div 
														class="progress-bar progress-bar-striped bg-{{colors this.count this.capacity}}"
														role="progressbar" 
														></div>
													</div>
												<div class="text-center mt-5">
													<button 
													onclick="genreateQrcode('{{this._id}}','{{this.name}}')"
													class="btn btn-sm w-50 btn-primary">OTP</button>
												</div>
											</div>
											</div>
										</div>
									{{/each}}

					
								</div>
							</div>
						</div>
					</div>


				</div>
			</main>
{{>footer}}